unbind C-p
set -g prefix C-q
bind-key -r C-q send-prefix

bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

set -g default-terminal "tmux-256color"
set-option -sa terminal-overrides ",xterm-256color:RGB"
#set -ga default-terminal "tmux-256color"
#set -g default-terminal "tmux-256color"
#set -ag terminal-overrides ",xterm-256color:RGB"
#set-option -sa terminal-overrides ',xterm-256color:RGB'
#set-option -ga terminal-overrides ',xterm:Tc'
set-option -g focus-events on
set-option -sg escape-time 10
